/统计分析/描述统计/globalterrorismdb_0617dist1.csv
/机器学习/9-聚类算法实验分析/聚类算法-实验.zip
/机器学习/14-集成算法实验分析/随机森林与集成算法-实验.zip
/机器学习/29-主成分分析降维算法解读/降维算法.zip
/机器学习/27.28-主成分分析与线性判别分析/降维算法.zip
/机器学习/6-逻辑回归实验分析/逻辑回归-实验.zip
/机器学习/20-贝叶斯代码实现/贝叶斯-代码实现.zip
/机器学习/5-逻辑回归代码实现/逻辑回归-代码实现.zip
/机器学习/3-线性回归实验分析/线性回归-实验.zip
/机器学习/2-线性回归代码实现/线性回归-代码实现.zip
/机器学习/21-关联规则实战分析/第一章：Python实战关联规则.zip
/机器学习/18-神经网络代码实现/神经网络-代码实现.zip
/机器学习/16-支持向量机实验分析/支持向量机-实验.zip
/机器学习/12-决策树实验分析/决策树算法-实验.zip
/机器学习/11-决策树代码实现/决策树-代码实现.zip
