/统计分析Statistical Analysis/描述统计/globalterrorismdb_0617dist1.csv
/机器学习machine learning/9-聚类算法实验分析/聚类算法-实验.zip
/机器学习machine learning/14-集成算法实验分析/随机森林与集成算法-实验.zip
/机器学习machine learning/29-主成分分析降维算法解读/降维算法.zip
/机器学习machine learning/27.28-主成分分析与线性判别分析/降维算法.zip
/机器学习machine learning/6-逻辑回归实验分析/逻辑回归-实验.zip
/机器学习machine learning/20-贝叶斯代码实现 bayes/贝叶斯-代码实现.zip
/机器学习machine learning/5-逻辑回归代码实现 logistic_regression/逻辑回归-代码实现.zip
/机器学习machine learning/3-线性回归实验分析/线性回归-实验.zip
/机器学习machine learning/2-线性回归代码实现 LinearRegression/线性回归-代码实现.zip
/机器学习machine learning/21-关联规则实战分析/第一章：Python实战关联规则.zip
/机器学习machine learning/18-神经网络代码实现 neural_network/神经网络-代码实现.zip
/机器学习machine learning/16-支持向量机实验分析/支持向量机-实验.zip
/机器学习machine learning/12-决策树实验分析/决策树算法-实验.zip
/机器学习machine learning/11-决策树代码实现 decisiontree/决策树-代码实现.zip
